body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background-color: black;
    padding: 10px;
    border-radius: 30px;
    width: 275px;

}
.screen{
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 200px;
    overflow: hidden;
    font-size: 50px;
    font-weight: 500;
    font-family: sans-serif;
}
button{
    width:55px;
    height: 55px;
    border-radius: 100%;
    border-width: 0;
    font-size:large ;
    cursor: pointer;
    margin: 5px;

}
button:hover{
    opacity: 60%;
}
button:active{
    translate: 2px;
}
audio{
    display: none;
}
.number,.point{
    background-color: #3E3E3E;
}
.operator,.equal{
    background-color: #F29611;
}
.ac,.negative,.percentage{
    background-color: #ACACAC;
}
.number,.operator,.point,.equal{
    color: white;
}
.zero{
    width: 115px;
    border-radius: 50px;
    text-align: start;
    padding-left: 20px;
}